
/******************************************************************************
light and sound-app default styles
******************************************************************************/

body {
  font-family: verdana, arial, sans-serif; 
  margin: 2em;
  background-image: url('https://cdn.pixabay.com/photo/2017/10/11/23/35/musical-background-2842924_1280.jpg');  color: white;
  text-align: center;
}

h1 {
  color: white;
  font-family: verdana, arial, sans-serif; 
}




/* Button - Add it from the README instructions */
button {
  font-family: inherit;
  font-size: 100%;
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}
.hidden{
  display:none;
}

#button1 {
    background: lightgreen;
}
#button2 {
    background: lightblue;
}
#button3 {
    background: pink;
}
#button4 {
    background: lightyellow;
}
#button5 {
    background: orange;
}
#button6 {
    background: white;
}


#button1:active , #button1.lit{
    background:green;
}
#button2:active, #button2.lit {
    background:blue;
}
#button3:active, #button3.lit {
    background:red;
}
#button4:active, #button4.lit {
    background:yellow;
}
#button5:active, #button5.lit {
    background:#D53A18;
}
#button6:active, #button6.lit {
    background:yellow;
}

