
/******************************************************************************
light and sound-app default styles
******************************************************************************/

body {
  font-family: verdana, arial, sans-serif; 
  margin: 2em;
  background-color: slategrey;
  color: white;
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #66ccff;
  font-family: verdana, arial, sans-serif; 
  font-style: normal;
  font-weight: bold;
  line-height: 105%;
  margin: 0;
}




/* Button - Add it from the README instructions */
button {
  font-family: inherit;
  font-size: 100%;
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}
.hidden{
  display:none;
}

#button1 {
    background: lightgreen;
}
#button2 {
    background: lightblue;
}
#button3 {
    background: pink;
}
#button4 {
    background: lightyellow;
}

#button1:active {
    background:green;
}
#button2:active {
    background:blue;
}
#button3:active {
    background:red;
}
#button4:active {
    background:yellow;
}
